* {
  margin: 0;
  padding: 0;
  font-family: 'PingFang Microsoft YaHei', sans-serif;
  box-sizing: border-box;
}

:root {
  --theme-color: #2563eb;
  --default-theme-color: #2563eb;
  --dark-color: #222d3c;
  --light-dark-color: #171717;
  --user-color: #2563eb;
  --normal-line-color: #e5e7eb;
  --agree-line-color: #40a578;
  --disagree-line-color: #ee4e4e;
  --ask-line-color: #4335a7;
  --response-line-color: #f9a825;
  --idea-line-color: #fff;
  --group-line-color: #fff;
  --light-dark-bgc-color: #2d3748;
}

.el-textarea {
  --el-input-focus-border-color: #2563eb !important;
}

@font-face {
  font-family: 'PingFang';
  src: url('@/assets/fonts/PingFangHK-Regular.otf');
}
