* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  box-sizing: border-box;
}

:root {
  --theme-color: #2563eb;
  --normal-line-color: #e5e7eb;
  --approve-line-color: #40A578;
  --oppose-line-color: #EE4E4E;
}